# local requirements
# uncomment to run the system locally
torch==1.13.0
jaqpotpy==/home/alex-arvanitidis-ntua/Projects/ntua/jaqpotpy
tqdm==4.64.1
skl2onnx==1.13.0
onnxruntime==1.13.1
matplotlib==3.6.2

# pip install torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.13.0+cpu.html
